Flask==2.2.3
Flask-WTF==1.1.1
torch==2.5.0
torch-audiomentations==0.11.1
torch-optimizer==0.1.0
torch-stoi==0.2.3
torch_pitch_shift==1.2.5
torchaudio==2.5.0
torchmetrics==0.11.4
torchvision==0.14.1
speechbrain==1.0.1
sklearn==0.0.post5
numpy==1.24.1
spleeter==2.4.0
openai-whisper @ git+https://github.com/openai/whisper.git@25639fc17ddc013d56c594bfbf7644f2185fad84
